*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p {
    /* nothing */
}

body{
    background-color: #252525;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

#up_panel{
    height: 60px;
    background-color: #ca9308;
    box-shadow: 0px 5px 6px rgba(56, 51, 31, 0.16);
}