*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #edf2f3;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

#up_panel{
    height: 54px;
    background-color: #dbdfdf;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    filter: blur(2px);
}

.logo{
    position: absolute;
    top: 8px;
    left: 20px;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

#articles{
    overflow: visible;
    position: absolute;
    top: 84px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}

#search{
    overflow: visible;
    position: absolute;
    top: 27px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent;
}

.img_search{
    background-color: transparent;
    overflow: visible;
    position: absolute;
    top: 22px;
    left: 25px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search{
    height: 44px;
    width: 700px;
    border-radius: 20px;
    background: #dbdfdf;
    box-shadow: inset 5px 5px 10px #c5c9c9,
    inset -5px -5px 10px #f1f5f5;
    border-color: transparent;
    outline: none;
    padding-left: 40px;
    padding-right: 20px;
}

hr{
    margin-top: 10px;
    margin-bottom: 5px;
}

.interaction{
    display: grid;
    grid-template-columns: 50px 30px;
    grid-template-rows: 30px;
    gap: 0px 562px;
    grid-template-areas:
    "test test2";
    text-decoration: none;
    background: transparent;
    margin-left: 10px;
}

.img_like{
    width: 28px;
    height: 28px;
    background: url("image/like.png") no-repeat;
    background-size: cover;
    grid-area: test;
    text-decoration: none;
}

.img_report{
    width: 28px;
    height: 28px;
    background: url("image/report.png") no-repeat;
    background-size: cover;
    margin-right: 10px;
    grid-area: test2;
    text-decoration: none;
}

.img_profil{
    width: 58px;
    height: 58px;
    border-radius: 18px;
    background: transparent;
    text-decoration: none;
    position: relative;
}

.name{
    text-decoration: none;
    position: absolute;
    background: transparent;
    color: black;
    font-size: 21px;
    width: 500px;
    top: 2px;
    left: 70px;
}

.date{
    text-decoration: none;
    position: absolute;
    background: transparent;
    color: #454545;
    height: auto;
    width: 500px;
    top: 20px;
    left: 70px;
    margin-top: 5px;
    font-size: 14px;
}

.btn_profil{
    text-decoration: none;
    background: transparent;
    margin-right: 10px;
}

.profile{
    position: relative;
}

.like_count{
    position: relative;
    top: 2px;
    left: 33px;
    background: transparent;
    text-align: left;
    font-size: 21px;
    color: #000000;
}

.img_my_profile{
    position: absolute;
    top: 8px;
    right: 20px;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}
.btn_report .report {
    visibility: hidden;
    color: #FF0000;
    border-radius: 6px;
    background: transparent;
    text-align: right;
    font-size: 21px;
    text-decoration: none;
    /* Position the tooltip */
    position: relative;
    z-index: 1;
    left: -80px;
}

.btn_report:hover .report {
    visibility: visible;
}

.article_zone{
    width: 660px;
    height: auto;
    border-radius: 40px;
    background-color: #edf2f3;
    box-shadow: inset 5px 5px 10px #d5dadb,
                inset -5px -5px 10px #ffffff;
    margin-bottom: 20px;
    padding: 20px 20px 10px;
}

.reported{
    visibility: hidden;
}

p{
    background: transparent;
}