*{
    text-decoration: none;
}

p {
    /* nothing */
	color: white;
}

body{
    background-color: #252525;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}


#up_panel{
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0;
    position: fixed;
    
    text-align: center;
    height: 80px;
    
    color:rgb(10, 10, 10);
    background-color: #c0c0c0;
    box-shadow: 0px 5px 26px rgba(19, 19, 19, 0.712);
}

#mid_panel{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

#down_panel {
    color:rgb(10, 10, 10);
	background-color: #c0c0c0;
    
    padding-top: 1em;
    padding-bottom: 1em;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    margin-bottom: 0;

    text-align: center;
}