#desc{
    margin: 20px 20px 0;
    color: white;
    border-radius: 15px;
}

.img_btn_like{
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto;
    gap: 0px 20px;
    grid-template-areas:
    "like img_profile dislike";
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.like{
    grid-area: like;
    margin-top: auto;
    height: 30px;
    background-color: mediumspringgreen;
}

.img_profile{
    grid-area: img_profile;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.dislike{
    grid-area: dislike;
    margin-top: auto;
    height: 30px;
    background-color: #fa001d;
}