/* ------ REDEFINE -------- */

#mid-content {
    width: 10%; min-width: 100px;
}


/* -------------- */

.settings_title {
    color: rgb(240, 237, 231) !important;
    text-align: center;
}

.settings_title p{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: .5em;
    color: white !important; 
    font-size: 24px;
}

/* -------------- */

input[type=password] {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
    border: solid rgb(209, 176, 115);
}

/* ----------------- */

.btn_valide {
    padding: 10px 10px; width: auto; background-color: limegreen;
}

.btn_remove{
    padding: 10px 10px; width: auto; background-color: #E14236;
}

/* ----------------- */

.form_title{
    font-size: 20px;
    color: rgb(236, 232, 225);
}

button:hover {
    opacity: 0.9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

input[type=text]:focus{
    outline: none;
    border: solid rgb(209, 176, 115);
}

.btn_dell_acc, .btn_chg_pass{
    padding: 10px 10px;
}

.btn_chg_pass{
    margin-top: 5px;
}


/* Extra styles for the cancel button */
.cancelbtn, .btn_dell {
    width: auto;
    padding: 7px 13px;
    margin-top: 5px;
    background-color: #f44336;
}

.del_account_form_container {
    position: relative;
    padding: 16px;
    background-color: #3B3D3F;
    border: solid rgb(209, 176, 115);
    border-radius: 5px;
}

/* The Modal (background) */

.del_account_model {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgba(255,255,255,0.2); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 350px; /* Could be more or less, depending on screen size */
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    color: #cccccc;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.btn_grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0px 20px;
    grid-template-areas:
    "btn_public btn_public_reroll";
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.btn_public{
    grid-area: btn_public;
}

.btn_public_reroll{
    grid-area: btn_public_reroll;
}