
#search_input, #search_input:-webkit-autofill{
    height: 40px;
    border-radius: 20px;
    background: #3B3D3F;
    box-shadow: inset 5px 5px 10px #333436,
    inset -5px -5px 10px #434648;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid rgb(209, 176, 115);
    color: white;
    width: 80%;
    min-width: 730px;
    padding: 1em 5px 1em 20px;
}

::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder{ /* Microsoft Edge */
    color: white;
}


#search_input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    display: block;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAADlUlEQVRYhe2WS2wbVRSGvzMzTitV6YqmcR4SlC66CBvKxsmkQlRs6nFcq+yyQd014iHR16oo7GgFAiSIEAtWsCrEzcONQCqqiGs2PBZEgk2pkJOM611bqgZn5h4WdiJnPImTwI78qyufc8//zcy5vgf29H+X7CR5KXui3wrDLCJplKeB/kaoDNwDCmHoTPXN3V78TwHKXqo3IfbbqpwFnDbpBuFrDc3FnpulP/81QCU9NKIiXwCdQA0kL8qN0Da/2CsHFgHC/Y/7bJXnVSULmgM6gEcCo92zxZldA1TSw6+r6IeAhXBdsC53z3x/b6s999PuESN6DeQMYEDfTM7e+XjHAI0nzwOqIhd7ZuY/2Mo4Kj/tnke4CojA6c3eRCxA2Uv1Oti/AZ0q8tZOzSMQ7wEPnVU5duibeT+aY8VttNV+B+hEuL5bc4Bkofg+wiRwMOzQ8bicFoCl7Il+EV4FaoJ1ORr308PnKrnBrujvldxgl58ePtdiEJhLQE2Vs2Uv1dsWwArDLGCD5KMN52fcMUQndNW61QxRyQ126ap1C9EJP+OONe85PFe6izAFOI7Y2bYAIKcARHSqJeKYr4AFYGANYt0cBoCFRs4Gqa7XOrUNAJ4FCEJ+iga686WqJMzJZogN5glzsjtfqrYAWPxYX9RrtwPoAeg44CzHxOjOl6qE8hLCrw3jAeB32zgvx5kDJPYllhrLvu0AaFyRdpIw3PQ/xf7ryZqP2Q6AD1B7HPTEFavkBruw9TuU56h/igXgWJDQb+NOB8BKwkk2li1vNQ7gLoBjczzOPPrNoz0RByGGF+qLeu12AAWA+sWyURpYrxBpuJbGrOdsBJBGLSOFtgBh6EwBAWjufto90hxLzhQnUBmLdvs6hMpYcqY40bynOpI6ipIFgkCC6ZgHblXFcz/zPVd9b6jlTO9UFc+d9D1XK2n307h4/F1g6TjwCOSMn3bP79bczwxdUMghPLDU2d5dAHBo+s6ywCj16ebqbiD8zNAFVN4FDEZGu27ersTlbTmQ+N7QayAfUR9IJq3AXDo8V2rp5GZVR1JHjbGvKeSon/s3krPFTzbLbz+SZVxPlS+Bg0ANYUrghiH82dm/bxEgWPm7D7WOC3IaIYuSQHiAkdFkYb6l83cEALCcefEpNLgiMEb7oTQQ4XO7JuNxA8iuANZU9lK9jjojCB7oMzSP5cIfGCkEEkz3z/6wtFWdPe2pWf8AOF16TFi6xPgAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-size: 22px;
}

#search_input:focus{
    outline: none;
    border: solid rgb(209, 115, 115);
}

#container_add{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.desc_container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.post_add{
    border-radius: 15px;
    background: #3B3D3F;
    box-shadow: inset 5px 5px 10px #333436,
    inset -5px -5px 10px #434648;
    padding: 20px 20px;
    border: solid rgb(209, 176, 115);
    color: white;
    outline: none;
    width: 100%;
    resize: none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.post_add::-webkit-scrollbar {
    display: none;
}

.submit_add, #inspirate{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 30px;
    background-color: #FFC38A;
    color: black;
    cursor: pointer;
    border: solid transparent;
    border-radius: 5px;
}

.btn_sup_post{
    width: 100px;
    height: 30px;
    background-color: #FFC38A;
    color: black;
    cursor: pointer;
    border: solid transparent;
    border-radius: 5px;
}

.submit_add:hover, #inspirate:hover{
    opacity: 0.9;
}

.posts{
    display: grid;
    grid-template-columns: 64px auto 32px;
    grid-template-rows: 64px auto 32px;
    gap: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-areas:
    "profile_img_posts info_containt info_containt"
    "post_content post_content post_content"
    "btn_like post_btn_espace btn_report";
}

.info_containt{
    display: grid;
    grid-template-columns: auto auto 32px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    ". . post_menu";
    grid-area: info_containt;
}

.profile_img_posts{
    border-radius: 15px;
    border: solid rgb(209, 176, 115);
    width: 58px;
    height: 58px;
    grid-area: profile_img_posts;
}

.btn_menu_post{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: #FFC38A;
    border: none;
}

.post_menu{
    grid-area: post_menu;
    position: relative;
    display: inline-block;
}

.supp_post{
    display: none;
    position: absolute;
    padding: 5px 5px;
    color: #f1f1f1;
    width: auto;
    z-index: 1;
}

.post_menu:hover .supp_post {
    display: block;
}

.post_auteur, .post_date{
    margin-top: 0px;
    margin-bottom: 0px;
}

.post_content{
    grid-area: post_content;
    border-radius: 15px;
    margin-top: 10px;
}

.post_content p{
    margin-top: 0px;
    margin-bottom: 0px;
}


.btn_like{
    display: grid;
    grid-template-columns: 32px 32px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    "like_img like_num";
    grid-area: btn_like;
    background-color: transparent;
    padding: 0 0;
}

.btn_report{
    display: grid;
    grid-template-columns: auto 32px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    ". report_ref";
    grid-area: btn_report;
}

.like_img {
    grid-area: like_img;
}

.report_ref{
    background-color: transparent;
    padding: 0 0;
    grid-area: report_ref;
}

.like_num{
    grid-area: like_num;
    color: white;
    margin-left: 2px;
    margin-top: 8px;
    font-size: 17px;
}
