#search_container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    min-width: 730px;
}

.search_grid{
    display: grid;
    grid-template-columns: auto 32px;
    grid-template-rows: 40px;
    gap: 0px 20px;
    grid-template-areas:
    "search_input btn_search";
}

.search_input{
    grid-area: search_input;
    margin: 0;
    width: auto;
    min-width: 0px;
}

#btn_search{
    grid-area: btn_search;
    background-color: transparent;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}